django-heroku
gunicorn==20.0.4
django==3.0.6
djangorestframework==3.11.0
tensorflow==1.14
Keras==2.2.5
joblib==0.15.0
pandas==1.0.3
imblearn==0.0
scikit-learn==0.23.0
xlrd==1.2.0
matplotlib==3.2.1
opencv-python-headless
numpy==1.18.4
Pillow==9.3.0




